# Investigating The Health Factors That Result in Heart Failure

This data source contains health information on patients who experienced heart failure regardless of whether they survived the event. the dataset was obtained from the RMIT math 2 dataset repository. The data set has 299 rows each representing a patient, it has 13 columns each representing health factor.

|age|discrete | years | the age of the patient when the heart failure occurred|
|anaemia|nominal catergorical|States whether the patient is anaemic|
|diabetes|nominal catergorical|states whether the patient had diabetes|
|high_blood_pressure|nominal catergorical|states whether the patient had high blood pressure|
|platelets|continous | platelet count measured in platelets per cubic millimeter|
|serum_creatinine|continous|High levels of serum creatinine have been linked to increased mortality in cardiovascular disease, measured as milligrams of creatinine to a deciliter of blood |
|serum_sodium|discrete | a low serum sodium level is one of the most common biomedical disorders featured in heart failure patients, measured in milliequivalent per liter |
|sex|catergorical | specifies if the patient is male or female|
|smoking|catergorical | Specifies if the patient is a smoker or a non smoker |
|creatinine_phosphokinase|discrete | elevated levels of the enzyme creatinine phosphokinase is seen in heart attack victims, measured in the amount of enzyme that catalyzes in one mol of substrate |

Our Response Variable is the DEATH_EVENT variable. It is a Nominal Categorical variable and the target of our study

In [3]:
import pandas as pd
hf = pd.read_csv("heart_failure.csv")
hf.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

# Goals and Objectives

Heart Failure is a prevalent issue for a vast amount of the global population. As a result, a model that can accurately show the correlation between factors like Age, Diabetes, High Blood Pressure and Smoking with dying of heart failure is hugely impactful. 

Thus the main objective of this study is to examine and explore the correlation between the many potential factors that impact heart failure and the death rate related to them and thus build a predictive model using that correlation. The secondary objective is to complete some basic data analysis using data visualization plots to gain insight on the correlation and relationship between our attributes and our target variable, death event.

At this point we have made the assumption that the rows in our data set are not correlated. This is reasonable as 1 persons age, diabetes status and smoking status do not relate to another persons. This allows us to perform linear regression on the data down the track to help us with our modeling.